@page

@{
    ViewData["Title"] = "Home";
}

<h2>Welcome to my test</h2>
<hr />

<p>
    <strong>
        Comparing performance test between PartialView and TagHelper
    </strong>
</p>

<p>
    <a asp-page="/test/usepartialview" class="btn btn-info">Partial View</a>
</p>
<p>
    <a asp-page="/test/usetaghelper" class="btn btn-info">Tag Helper</a>
</p>

