@page "/test/tag"
@{
    ViewData["Title"] = "UserPartialView";
    var watch = System.Diagnostics.Stopwatch.StartNew();
    int count = 10000;
}

<h2>Performance Test : TagHelper</h2>
<hr />
@for (int i = 1; i < count+1; i++)
{
    for (int j = 0; j < 5; j++)
    {
        <stars level="j"></stars>
    }
}
@{
    watch.Stop();
    var elapsedMs = watch.ElapsedMilliseconds;
}
<hr />
<h2>
    Time elasped : @elapsedMs
</h2>